body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.felxible-container{
    display: flex;
    margin: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
 .tweet{
     text-decoration: none;
     background-image: linear-gradient(rgb(126, 97, 97), rgb(141, 141, 206));
     color: rgba(22, 36, 163, 0.699);
     font-weight: 700;
     padding: 10px 20px;
     border-radius: 10px;
 }
 .facebook{
    text-decoration: none;
    background-image: linear-gradient(rgb(206, 56, 56), rgb(47, 47, 134));
    color: rgba(25, 27, 37, 0.699);
    font-weight: 700;
    padding: 2px 10px;
    border-radius: 10px;
 }
 #right{
     padding-right: 80px;
 }
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#center{
    text-align: center;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;background-position: left;
}
.experiences-item{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    padding-left: 20px;
    margin-left: 5%;
    border-radius: 10px;
    margin-right: 5%;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(57, 114, 65), rgba(66, 65, 73, 0.521));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: tomato;
}
